<div class="column">
  <div class="title text-center">
    <% if user_signed_in? %>
      <div><%= link_to 'New story', new_story_path, class: 'btn bg-dark px-5 py-0 text-white' %></div>
    <% end %>
  </div>
  <div class="row" style="max-width: 1000px">
    <table class="pt-5">
      <tbody>
        <% @stories.each do |story| %>
          <div class="mx-3 my-3 col-5">
            <div class="card" style="width: 400px; height: 200px">
              <div class="card-body">
                <h3 class="card-title text-left">
                  <%= story.title %>
                </h3>
                <% if user_signed_in? %>
                  <p class="card-subtitle mb-2 text-muted text-left">
                    <%= story.user.username %>
                  </p>
                <% end %>
                <p class="card-text text-left">
                  <%= story.body.truncate(100) %>
                </p>
                <% if user_signed_in? %>
                  <% if current_user.username == story.user.username %>
                    <div class="buttons text-left">
                      <%= link_to 'Show', story, class: 'btn bg-secondary text-white p-1' %>
                      <%= link_to 'Edit', edit_story_path(story), class: 'btn bg-secondary text-white p-1' %>
                      <%= link_to 'Delete', story, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger p-1 text-white' %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
</div>